// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$gold: #CBA153;
$emerald: #005958;
$parchment: #f4ebd0;
$white: #ffffff;
$gray: #4A4848;
$red-cancel: #d23e3e;

// Footer
$pearl: #D0D5BE; // span
$ecru: #BBA25E; // paragraph
