Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $parchment;
}

.banner {
  display: flex;
  flex-direction: column;
}

.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: rgb(0, 89, 88);
  width: 800px;
}

.input {
  height: 70px;
  border: 0;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray);
  cursor: pointer;
}

.input:first-of-type {
  width: 250%;
}

.input:focus {
  outline: none;
}
