<div class="footer">
  <h2 class="footer-h2">LUX VAULT</h2>
  <br>

  <div class="footer-body">
    <div>
      <span class="footer-span">ADDRESS</span>
      <p class="footer-p">RUA DO CENTRO CULTURAL 45, 1700-006 LISBOA</p>
      <span class="footer-span">PHONE</span>
      <p class="footer-p">+351 926 142 424</p>
    </div>

    <div>
      <span class="footer-span">GENERAL ENQUIRES</span>
      <p class="footer-p">HELLO@LUXVAULT.COM</p>
      <span class="footer-span">BOOK ENQUIRES</span>
      <p class="footer-p">BOOKING@LUXVAULT.COM</p>
    </div>

    <div>
      <span class="footer-span">Exclusive discount and promotion offers with the latest news from LUX VAULT direct in your inbox.</span>
      <form class="footer-form">
        <input
          type="text"
          class="footer-form-input"
          placeholder="Email Address"
          required
        />
        <button class="footer-form-button-subscribe">SUBSCRIBE <i class="fa-solid fa-arrow-right"></i></button>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-socials">
      <i class="fa-brands fa-github-alt fa-lg"></i>
      <i class="fa-brands fa-facebook-f fa-lg"></i>
      <i class="fa-brands fa-linkedin-in fa-lg"></i>
      <i class="fa-brands fa-instagram fa-lg"></i>
    </div>
    <span class="footer-span">COPYRIGHT &copy 2024 LUXVAULT. ALL RIGHTS RESERVED.</span>
  </div>
</div>
