<header>
    <nav>
      <a href="" draggable="false">
        <%= image_tag "LOGO.png", alt: "LOGO", width: "40px" %>
      </a>
      <%= link_to "Login", new_user_session_path, class: "btn btn-login" %>
    </nav>
</header>
