<header>
    <nav>
      <a href="" draggable="false">
          <%= image_tag "LOGO.png", alt: "LOGO", width: "40px" %>
      </a>
      <a href="" class="btn btn-login" draggable="false">LOGIN</a>
    </nav>
</header>
