<section class="banner">
  <%= image_tag "LOGO.png", alt: "LOGO" %>
  <h1 class="text-align">LUX VAULT</h1>
  <h2 class="text-align">RENT LUXURIOUS CLOTHINGS</h2>
</section>

<section class="search">
  <form action="" class="form-search">
    <label for=""></label>
    <input
      type="text"
      class="input"
      placeholder="WHAT ARE YOU LOOKING FOR?"
    />
    <label for=""></label>
    <input type="text" class="input" id="input" />
    <label for=""></label>
    <input type="text" class="input" />
    <%= link_to "DISCOVER", items_path, class: "search-button" %>
  </form>
</section>
