<div class="container m-3 ">
  <h1 class="text-center m-3"><%= @item.name %></h1>
</div>
<br>
<div class="container m-5 d-flex">
  <div>
    <img src="https://aya.eco/cdn/shop/products/04_silk_yellow_gold_boho_wedding_slip_dress_by_aya_sacred_wear_02.jpg?v=1629463877" alt="silk gown" class="w-100">
  </div>
  <div class="m-3">
    <h3>Details:</h3>
    <p><%= @item.description %></p>
  </div>
</div>
