.search-button {
  border: none;
  border-radius: 0px;
  background-color: $gold;
  margin-left: 6px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  color: $white;
  padding: 10px 20px;
}

.main-button, .secondary-button {
  border: none;
  padding: 10px 20px;
  background-color: $emerald;
  border-radius: 3px;
  color: $white;
}

.secondary-button{
  background: none;
  color: $gold;
}

.main-button:hover {
  background-color: #003D3C;
}

// CATEGORIES, TRENDING
.gold-border-bottom-button {
  background: none;
  color: $gold;
  border: none;
  border-bottom: 1px solid $gold;
  font-weight: 500;
  text-align: end;
}

// GIFTS
.gifts-container .gold-border-bottom-button{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}

.gifts-button{
  border: 1px solid $gold;
  backdrop-filter: blur(15px);
}
