header {
  margin-bottom: 16px;
}

nav {
  padding: 32px 80px 32px;
  display: flex;
  /* border-bottom: 1px solid var(--white); */
}

a {
  text-decoration: none;
}

nav a:first-child {
  margin-right: auto;
}
