h1,
h2 {
  color: $emerald;
  font-family: "Prata", serif;
  font-size: 84px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.96px;
  list-style: 40px;
}

h2 {
  font-size: 32px;
}

section {
  margin: 64px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
